h1{
    color:black;
    text-align: center;
    padding-top: 50px;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#image{
    font-family:cursive;
    float:right;
    margin-right:200px;
    color:blue;
    font-weight: 400;
}
#searchBox{
    text-align: center;
    margin-top: 30px;
}
.buttons{
    text-align: right;
    float:right;
    margin-right: 20px;
}
p1{
    font-size: 60px;
    margin-left: 150px;
    font-family: 'Open Sans';
    font-weight: 900;
    font-style: italic;
}
input[type=text] {
    width: 50%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}